
body{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    background-color: #fff;
    color: #000;
}
p{
    font-size: 3vmin;
}
.heading{
    margin-top: 4vmin;
    margin-bottom: 2vmin;
}
h1{
    font-family: 'Poppins',sans-serif;
    font-size: 10vmin;
    margin:0;
    background: linear-gradient(45deg, #ff5050, #cc2626);
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 3.5vmin;
    color:#cc2626;
    margin-top: -1;
    letter-spacing: 0.5px;
}
.parent-div{
    margin: 5vmin auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: repeat(3, auto) / repeat(3, auto);
    position: relative;
    width: max-content;
}
.box{
    height: 25vmin;
    width: 25vmin;
    background-color: white;
    color: black;
    border: 1vmin solid black;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18vmin;
    opacity: 0.95;
    font-weight: bold;
    box-sizing: border-box;
}
.box:nth-child(-n+3) {
    border-top: none;
}
.box:nth-child(n+7) {
    border-bottom: none;
}
.box:nth-child(3n+1) {
    border-left: none;
}
.box:nth-child(3n) {
    border-right: none;
}

#restart{
  background: linear-gradient(45deg, #ff5050, #cc2626);
  border: none;              
  color: white;        
  padding: 15px 32px;    
  text-align: center;       
  text-decoration: none;     
  display: inline-block;     
  font-size: 16px;           
  cursor: pointer;           
  border-radius: 8px;    
}

#restart:hover {
  background: linear-gradient(45deg, #ff5050be, #cc2626be);
}
span{
    color: red;
    font-weight: bolder;
    font-size: 5vmin;
}
.placed {
    cursor: not-allowed !important;
    opacity: 1;
}
.msg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.msg-content {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 48, 48, 0.3);
}

#msg {
    color: #333;
    font-size: 8vmin;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.hide {
    display: none;
}
#new-game {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  background: linear-gradient(45deg, #ff5050, #cc2626);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#new-game:hover {
  background: linear-gradient(45deg, #ff5050be, #cc2626be);
}